@model AmazonClone.Model.Product

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="~/css/Details.css" />
<h1 class=" my-4">Details</h1>

@* <div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
 *@

 <div class="wrapper">
     <div class="left-side">
     <h2>
            @Html.DisplayFor(model => model.NameEn)
        </h2>
     <img src="~/images/neklesh-img.png" width="600px" />
    </div>

    <div class="right-side">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h3>Price</h3>
                <h5 class="card-title">
                    @Html.DisplayFor(model => model.UnitPrice)

                </h5>
                <h3>Quantity</h3>
                <h6 class="card-subtitle mb-2 ">

                    <select class="form-control" id="StockQuantity" name="StockQuantity">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </h6>
              
                <button type="button" class="btn btn-warning btn-lg btn-block w-100" >Buy Now</button>
                <button type="button" class="btn btn-success btn-lg btn-block w-100" >Add to Cart</button>
            </div>
        </div>
    </div>

 </div>
 

